<% if @consultations.any? %>
	<h3 class="text-center">Leads</h3>
		<div class="table-scroll geekful-container">
			<table class="hover stack">
		  	<thead>
		    	<tr>
			    	<th>#</th>
			      <th width="240">Date submitted</th>
			      <th width="175">Name</th>
			      <th width="200">Company Name</th>
			      <th width="200">Email</th>
			      <th width="150">Phone #</th>
			      <th width="450">Description</th>
			      <th>X</th>
		    	</tr>
		  	</thead>
			  	<% @consultations.each do |c| %>
		  	<tbody>
				    <tr>
				    	<td>#<%= c.id %></td>
				      <td><%= c.created_at.strftime("%a %b %d %r") %></td>
				      <td><%= c.name %></td>
				      <td><%= c.company_name %></td>
				      <td><%= c.email %></td>
				      <td><%= c.phone_number %></td>
				      <td><div class="table-height"><%= c.description %></div></td>
				      <td><%= link_to "", c, method: :delete, data: { confirm: "You sure?" }, class: "fa fa-trash-o fa-lg" %></td>
				    </tr>
		  	</tbody>
					<% end %>
			</table>
		</div>
<% else %>
	<h3 class="text-center">No Leads to Show</h3>
<% end %>