<div class="footer">
  <div class="callout large secondary">
    <div class="row">
      <div class="large-6 columns">
        <ul class="menu vertical text-center footer-menu">
          <li><h4>Geekful Thinking LLC</h4></li>
          <li>7052 S Cherry Leaf Dr, West Jordan UT, 84084</li>
        </ul>
        <div class='horizontal text-center fa-icon-padding'><strong><%= link_to "Terms", terms_path, class: "footer-links" %> | <%= link_to "Privacy", privacy_path, class: "footer-links" %> | <%= link_to "About Geekful", about_path, class: "footer-links" %></strong>
        </div>
        <ul class="menu vertical text-center footer-menu1">
          <li>&copy Geekful Thinking | 2017</li>
        </ul>
      </div>

      <div class="large-6 columns footer-contact-styles">
        <ul class="menu vertical text-center footer-menu">
          <li><h5><i class="fa fa-phone" id="footer-icon"></i><strong> (801) 879-3433</strong></h5></li>
          <li><h5><i class="fa fa-envelope-o" id="footer-icon"></i><strong><a href="mailto:geekful.support@geekfulthinkingllc.com?subject=Geekful Thinking Questions" "email me" id="contact-email"> geekful.support@geekfulthinkingllc.com</strong></h5></li>
          <li><h4>Visit our Social Media</h4></li>
        </ul>

        <div class='horizontal text-center icon-link'>
            <%= link_fa_to 'facebook-official fa-2x', '', 'https://www.facebook.com/GeekfulThinking/' %>
           <%= link_fa_to 'linkedin-square fa-2x', '', 'https://www.linkedin.com/company-beta/18115533' %>
        </div>
      </div>

      <div class="large-6 large-centered columns text-center">
          <hr id="footer-hr">
          <div class="footer-quote">
          <strong>"No person will make a great business who wants to do it all himself or get all the credit" -Andrew Carnegie</strong>
          </div>
      </div>
    </div>
  </div>
</div>