<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="nav-logo"><%= link_to "Geekful Thinking LLC", root_path %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu nav-links">
      <li><%= link_to "Consultations", new_consultation_path %></li>
      <li><%= link_to "About", about_path %></li>
      <% if logged_in?(:admin) %>
        <li><%= link_to "Leads Generated", consultations_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</div>