<%= render 'shared/mobile_nav' %>
<div data-sticky-container>
  <div data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1">
    <div class="top-bar" id="navbar-scroll">
      <div class="top-bar-left">
        <ul class="menu medium-horizontal hide-for-small-only">
          <li class="nav-logo logoslide"><%= link_to "Geekful Thinking LLC", root_path %></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu nav-links hide-for-small-only text-right">
          <li class="navlinkhover"><%= link_to "About", about_path %></li>
          <li class="navlinkhover"><%= link_to "Social Mission", mission_path %></li>
          <li class="navlinkhover"><%= link_to "Consultations", new_consultation_path %></li>
          <% if logged_in?(:admin) %>
            <li class="navlinkhover"><%= link_to "Leads", consultations_path %></li>
            <li class="navlinkhover"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>