<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geekful Thinking</title>

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
      <!-- Start Top Bar -->
        <%= render 'shared/nav_head' %>
      <!-- End Top Bar -->
      </div>

      <%= yield %>
      <div class="push"></div>
    </div>
    <%= render 'shared/footer' unless controller_name == 'sessions' || controller_name == 'registrations' %>

  </body>
</html>